@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* humburger */
body.no-scroll {
  overflow: hidden;
}

iframe {
  width: 100%;
}

.hamburglar {
  -webkit-transform: scale(1);
  transform: scale(1);
  margin: 0;
  position: relative;
  display: none;
  width: 50px;
  height: 50px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  z-index: 1000;
}

@media (max-width: 830px) {
  .hamburglar {
    display: block;
  }
}

.hamburglar svg {
  width: 100%;
  height: 100%;
  display: block;
}

#hamburgertop,
#hamburgerbottom {
  position: absolute;
  display: block;
  height: 4px;
  width: 30px;
  border-radius: 50px;
  background: #ffff;
}

#hamburgertop {
  top: 12px;
  left: 10px;
}

#hamburgerbottom {
  top: 34px;
  left: 10px;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

#hamburgertop,
#hamburgerbottom {
  -webkit-transform-origin: 31px 2px;
  transform-origin: 31px 2px;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 500ms cubic-bezier(0.8, -1.1, 0.5, 1.9);
  transition: all 500ms cubic-bezier(0.8, -1.1, 0.5, 1.9);
}

#hamburgercircle {
  stroke-width: 5;
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke-dasharray: 0 100 33 300;
  stroke-dashoffset: 101;
  -webkit-transition: all 750ms ease;
  transition: all 750ms ease;
}

.hamburglar.is-open #hamburgercircle {
  stroke-dasharray: 1 100 190 300;
  stroke-dashoffset: 1;
}

.hamburglar.is-open #hamburgertop {
  -webkit-transform: translateX(-4.5px) rotate(-45deg);
  transform: translateX(-4.5px) rotate(-45deg);
}

.hamburglar.is-open #hamburgerbottom {
  -webkit-transform: translateX(-4.5px) rotate(45deg);
  transform: translateX(-4.5px) rotate(45deg);
}

/* humburger end */
body {
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  max-width: 767px;
}

@media (max-width: 830px) {
  .container {
    max-width: 600px;
  }
}

@media (max-width: 650px) {
  .container {
    max-width: none;
    margin: none;
  }
}

.menu-wrapper {
  z-index: 100;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #cfd8dc;
  -webkit-transform: translateY(-1000%);
          transform: translateY(-1000%);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.menu-wrapper_active {
  -webkit-transform: translate(0);
          transform: translate(0);
}

.menu-wrapper ul {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-wrapper ul li {
  padding-bottom: 25px;
}

.menu-wrapper ul a {
  text-decoration: none;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 35px;
  font-weight: 600;
  line-height: 60px;
  text-align: left;
  text-transform: uppercase;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.menu-wrapper ul a:hover {
  color: #111;
}

.btn {
  display: inline-block;
  border: 1px solid #000000;
  padding: 10px 20px;
  color: #021725;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 300;
  line-height: 32px;
  text-align: center;
  text-decoration: none;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.btn:hover {
  color: #ffff;
  background-color: #000000;
}

.logo {
  position: absolute;
  left: 2%;
  top: 1%;
}

.logo__fixed {
  position: fixed;
}

@media (max-width: 830px) {
  .logo {
    left: 5%;
    top: 5%;
  }
}

.menu {
  position: absolute;
  right: 7%;
  top: 1%;
}

.menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu ul li {
  display: inline-block;
  padding-left: 20px;
}

.menu ul li a {
  text-decoration: none;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  line-height: 60px;
  text-align: left;
  text-transform: uppercase;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.menu ul li a:hover {
  color: #111;
}

@media (max-width: 830px) {
  .menu {
    right: 5%;
    top: 3%;
  }
  .menu nav {
    display: none;
  }
}

.header-main {
  height: 100vh;
  width: 100vw;
  background-image: url(img/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-main__text {
  text-align: center;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: calc( 40px + 40 * ((100vw - 320px) / 960));
  font-weight: 300;
  line-height: 60px;
}

@media (max-width: 830px) {
  .header-main {
    background-image: url(img/index_mobile/bg.png);
  }
}

.weare {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 3%;
}

.weare__toptext {
  color: #d4af37;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.weare__title {
  color: #515f68;
  font-family: "Open Sans";
  font-size: calc( 25px + 19 * ((100vw - 320px) / 960));
  font-weight: 600;
  line-height: 40px;
  text-align: center;
  margin-bottom: 40px;
}

.weare__text {
  max-width: 757px;
  color: #021725;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 300;
  line-height: 32px;
  text-align: center;
  margin-bottom: 30px;
}

.wedo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 3%;
}

.wedo__toptext {
  color: #d4af37;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.wedo__title {
  color: #515f68;
  font-family: "Open Sans";
  font-size: calc( 25px + 19 * ((100vw - 320px) / 960));
  font-weight: 600;
  line-height: 40px;
  text-align: center;
  margin-bottom: 40px;
}

.wrapper__img {
  margin: 30px;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper__img img {
  margin: 5px;
}

@media (max-width: 600px) {
  .wrapper__img img {
    width: 100vw;
  }
}

.weare2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 3%;
}

.weare2__toptext {
  color: #d4af37;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.weare2__title {
  color: #515f68;
  font-family: "Open Sans";
  font-size: calc( 25px + 18 * ((100vw - 320px) / 960));
  font-weight: 600;
  line-height: 50px;
  text-align: center;
  margin-bottom: 40px;
}

.weare2__text {
  max-width: 757px;
  color: #021725;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 300;
  line-height: 32px;
  text-align: center;
  margin-bottom: 30px;
}

.weare2 .flex-person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.weare2 .person {
  margin: 5px;
  padding: 5px;
  background-color: #f9f9f9;
}

.weare2 .person__toptext {
  color: #d4af37;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
}

.weare2 .person__title {
  color: #67747c;
  font-family: "Open Sans";
  font-size: 21px;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
  margin-bottom: 10px;
}

.weare2 .person__text {
  color: #021725;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 300;
  line-height: 23px;
  text-align: left;
}

@media (max-width: 830px) {
  .weare2 .flex-person {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .weare2 .person {
    text-align: center;
  }
  .weare2 .person__toptext {
    text-align: center;
  }
  .weare2 .person__title {
    text-align: center;
  }
  .weare2 .person__text {
    text-align: center;
    max-width: 400px;
  }
}

.lastpost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 3%;
}

.lastpost__toptext {
  color: #d4af37;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.lastpost__title {
  color: #515f68;
  font-family: "Open Sans";
  font-size: calc( 27px + 17 * ((100vw - 320px) / 960));
  font-weight: 600;
  line-height: 40px;
  text-align: center;
  margin-bottom: 40px;
}

.lastpost__flex {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.lastpost__flex .img {
  min-width: 384px;
  height: 390px;
  background-image: url(img/lastpost.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.lastpost .wrapper__text {
  padding: 20px;
  background-color: #f9f9f9;
}

.lastpost .wrapper__text .data {
  color: #505d68;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 10px;
  text-align: left;
  text-transform: uppercase;
}

.lastpost .wrapper__text .title {
  color: #505d68;
  font-family: "Open Sans";
  font-size: 30px;
  font-weight: 400;
  line-height: 60px;
  margin-bottom: 10px;
}

.lastpost .wrapper__text .text {
  color: #505d68;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 300;
  line-height: 24.7px;
  margin-bottom: 50px;
}

@media (max-width: 830px) {
  .lastpost__flex {
    width: 100vw;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .lastpost__flex .img {
    width: 100%;
  }
  .lastpost .wrapper__text {
    width: 100vw;
  }
  .lastpost .wrapper__text .data {
    text-align: center;
  }
  .lastpost .wrapper__text .title {
    text-align: center;
  }
  .lastpost .wrapper__text .text {
    text-align: center;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
  .lastpost .wrapper__text .wrapper-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 400px) {
  .lastpost .img {
    display: none;
  }
}

.contactus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 3%;
  padding-bottom: 3%;
}

.contactus__toptext {
  color: #d4af37;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.contactus__title {
  color: #515f68;
  font-family: "Open Sans";
  font-size: calc( 27px + 17 * ((100vw - 320px) / 960));
  font-weight: 600;
  line-height: 40px;
  text-align: center;
  margin-bottom: 40px;
}

.contactus__flex {
  background-color: #f9f9f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contactus__add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 350px;
}

.contactus__add .title {
  margin: 0 auto;
  text-align: center;
  color: #505d68;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 600;
  line-height: 60px;
  text-align: left;
  text-transform: uppercase;
}

.contactus__add span {
  display: inline-block;
  width: 200px;
  font-family: "Open Sans";
  font-size: 19px;
  font-weight: 300;
  line-height: 34px;
  text-align: center;
}

@media (max-width: 830px) {
  .contactus .contactus__add {
    width: 100vw;
  }
}

footer {
  background-color: #f9f9f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .text {
  font-family: "Open Sans";
}

footer .nav__footer ul {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .nav__footer ul li {
  padding-right: 20px;
}

footer .nav__footer ul li a {
  position: relative;
  text-decoration: none;
  color: black;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;
  text-transform: uppercase;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

footer .nav__footer ul li a::before {
  content: "";
  position: absolute;
  display: inline-block;
  height: 3px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  background-color: #1111;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

footer .nav__footer ul li a:hover:before {
  background-color: black;
}

@media (max-width: 600px) {
  footer {
    display: none;
  }
}

.work {
  background-image: url(img/work/bg3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  min-height: 400px;
}

.ourwork {
  padding-top: 3%;
  padding-bottom: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ourwork__toptext {
  color: #d4af37;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.ourwork__title {
  color: #515f68;
  font-family: "Open Sans";
  font-size: calc( 27px + 17 * ((100vw - 320px) / 960));
  font-weight: 600;
  line-height: 40px;
  text-align: left;
  margin-bottom: 40px;
}

.ourwork__text {
  max-width: 757px;
  color: #021725;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 300;
  line-height: 32px;
  text-align: center;
  margin-bottom: 30px;
}

.project {
  background-image: url(img/project/bg.png);
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper-flex {
  padding-top: 3%;
  padding-bottom: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content__title {
  color: #000000;
  font-family: "Open Sans";
  font-size: 45px;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 70px;
}

.content__text {
  color: #000000;
  font-family: Cardo;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  margin-bottom: 50px;
}

.content img {
  margin-bottom: 15px;
}

@media (max-width: 700px) {
  .content__title {
    text-align: center;
  }
  .content__text {
    padding-left: 5px;
    padding-right: 5px;
  }
  .content img {
    width: 100vw;
  }
}

.aside {
  margin-left: 55px;
}

@media (max-width: 1050px) {
  .aside {
    display: none;
  }
}

.btns__wrapper {
  padding-top: 3%;
  padding-bottom: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btns__wrapper .btn_pr {
  color: #c0c0c0;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 300;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #a1a1a1;
  padding: 10px 50px;
}

@media (max-width: 700px) {
  .btns__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .btns__wrapper .btn_pr {
    margin: 10px;
  }
}

.arrow__wrapper {
  width: 100vw;
  position: absolute;
  bottom: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.arrow__wrapper .arrow {
  cursor: pointer;
}

.contact {
  background-image: url(img/contact/bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100vw;
  min-height: 400px;
}

.thisit {
  padding-top: 3%;
  padding-bottom: 3%;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.thisit .btn {
  padding-left: 50px;
  padding-right: 50px;
}

.thisit__toptext {
  color: #d4af37;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.thisit__title {
  color: #515f68;
  font-family: "Open Sans";
  font-size: calc( 27px + 17 * ((100vw - 320px) / 960));
  font-weight: 600;
  line-height: 40px;
  text-align: left;
  margin-bottom: 40px;
}

.thisit__flex {
  width: 100vw;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.block1 {
  position: relative;
  padding: 80px 40px 100px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 6px;
  margin-bottom: 6px;
  min-height: 300px;
  -ms-flex-preferred-size: 39%;
      flex-basis: 39%;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 25px;
  font-weight: 400;
  line-height: 32px;
  background-color: #d3b000;
}

.block1::before {
  content: "";
  position: absolute;
  left: 10%;
  top: 11%;
  display: inline-block;
  width: 31px;
  height: 3px;
  background-color: #ffffff;
}

@media (max-width: 650px) {
  .block1 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding: none;
    margin-right: 0px;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .block1__text {
    width: 200px;
  }
}

.block2 {
  margin-bottom: 6px;
  min-height: 300px;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  background-image: url(img/contact/img2.png);
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 650px) {
  .block2 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.block3 {
  min-height: 300px;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  margin-right: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f9f9f9;
}

.block3__text {
  font-family: "Open Sans";
  font-size: calc( 15px + 5 * ((100vw - 320px) / 960));
  font-weight: 300;
  line-height: 32px;
  max-width: 358px;
}

@media (max-width: 650px) {
  .block3 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-right: 0px;
  }
}

.block4 {
  position: relative;
  min-height: 300px;
  -ms-flex-preferred-size: 39%;
      flex-basis: 39%;
  background-color: #212121;
}

.block4__text {
  margin-top: 60px;
  margin-left: 30px;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 25px;
  font-weight: 400;
  line-height: 32px;
}

.block4::before {
  content: "";
  position: absolute;
  left: 10%;
  top: 11%;
  display: inline-block;
  width: 31px;
  height: 3px;
  background-color: #ffffff;
}

@media (max-width: 650px) {
  .block4 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .block4__text {
    width: 250px;
  }
}

.about {
  background-image: url(img/about/bg.png);
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.thing {
  padding: 6% 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.thing .text {
  color: #919aa0;
  font-family: "Open Sans";
  font-size: calc( 13px + 5 * ((100vw - 320px) / 960));
  font-weight: 300;
  line-height: 30px;
  text-align: center;
}

@media (max-width: 550px) {
  .thing .text {
    line-height: 20px;
  }
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services__img {
  height: 450px;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  background-image: url(img/about/img.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.services__content {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  background-color: #f9f9f9;
  padding: 20px;
}

.services__content .title {
  margin-bottom: 14%;
  color: #505d68;
  font-family: "Open Sans";
  font-size: 45px;
  font-weight: 600;
  line-height: 60px;
}

.services__content .text__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services__content .text1 {
  max-width: 210px;
  color: #505d68;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}

.services__content .text2 {
  max-width: 210px;
  color: #505d68;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}

@media (max-width: 830px) {
  .services {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .services__img {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .services__content {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media (max-width: 550px) {
  .services__content .title {
    text-align: center;
  }
  .services__content .text__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .services__content .text__flex .text1,
  .services__content .text__flex .text2 {
    width: 100vw;
    margin: 0 auto;
    margin-bottom: 50px;
  }
}

.blog-wrapper__flex {
  max-width: 1151px;
  margin: 0 auto;
  background-color: #f9f9f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 900px) {
  .blog-wrapper__flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 900px) {
  .blog-wrapper__flex {
    max-width: none;
  }
}

.blog {
  background-image: url(img/blog/bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100vw;
  min-height: 400px;
}

@media (max-width: 600px) {
  .blog {
    background-image: url(img/blog/bg2.jpg);
  }
}

.posts {
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 900px) {
  .posts {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.post {
  margin: 30px;
  padding: 30px;
  background-color: #fff;
}

.post__title {
  color: #000000;
  font-family: "Open Sans";
  font-size: 30px;
  font-weight: 300;
  line-height: 66px;
}

@media (max-width: 600px) {
  .post__title {
    line-height: 33px;
  }
}

.post__data {
  color: #d3b000;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 300;
  line-height: 66px;
}

.post__text {
  color: #021725;
  font-family: Cardo;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 35px;
}

@media (max-width: 600px) {
  .post__text {
    line-height: 20px;
  }
}

.post .btn {
  padding-left: 40px;
  padding-right: 40px;
}

@media (max-width: 900px) {
  .post img {
    width: 100%;
  }
}

.recent {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

.recent .title {
  position: relative;
  width: 100%;
  color: #838d93;
  font-family: "Open Sans";
  font-size: 23px;
  font-weight: 300;
  line-height: 32px;
  margin-bottom: 25px;
  margin-top: 25px;
}

.recent .title::before {
  content: "";
  position: absolute;
  display: inline-block;
  background-color: #d3b000;
  height: 3px;
  border-radius: 15px;
  bottom: -10px;
  right: 10px;
  left: 0px;
}

.recent img {
  width: 80%;
  padding-left: 6%;
  margin: 0 auto;
}

.recent .text {
  color: #021725;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 100;
  font-style: italic;
  line-height: 32px;
}

@media (max-width: 900px) {
  .recent {
    padding: 5%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .recent img {
    width: 297px;
    padding-left: 0%;
    height: 299px;
  }
}

.slider-container {
  width: 1300px;
  margin: 0 auto;
  overflow: hidden;
}

@media (max-width: 1300px) {
  .slider-container {
    width: 100vw;
  }
}

.slider-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.slider-item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.slider-item:nth-child(3n + 1) {
  background-image: url(img/img1.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.slider-item:nth-child(3n + 2) {
  background-image: url(img/img2.png);
  background-size: cover;
}

.slider-item:nth-child(3n + 3) {
  background-size: cover;
  background-image: url(img/img3.png);
}

.wrapper-slider {
  width: 100vw;
  position: relative;
}

.btn-prev {
  position: absolute;
  top: 50%;
  left: 1%;
}

.btn-next {
  position: absolute;
  top: 50%;
  right: 1%;
}

.btn-prev,
.btn-next {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.btn-prev img,
.btn-next img {
  width: 20px;
  height: 30px;
}
/*# sourceMappingURL=main.css.map */